.footer {
  padding: 30px 0 30px;
  background-image: url('img-noise.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  img {
    width: 23%;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    color: #B8B8B8;
    letter-spacing: 0.5px;
    margin-top: 20px;
  }
}
