.banner {
  margin-top: 0;
  padding: 260px 0 180px 0;
  background-image: linear-gradient(to bottom, #787586, #5c5a66, #424148, #29292c, #121212);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .infos-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.banner .tagline {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    margin-top: 70px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    width: 30%;
}

.banner a i {
  font-size: 10px;
  margin-left: 10px;
  line-height: 1;
  transition: 0.3s ease-in-out;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
}

.banner a:hover {
  color: #fff;
}

.banner a:hover i {
  color: #fff;
  margin-left: 25px;
}

.banner img {
  width: 60%;
  margin-left: 150px;
  border-radius: 30px;
  animation: updown 3s linear infinite;
}

/* Smartphones Mobiles */
@media (min-width: 320px) and (max-width: 480px) {
  .banner img {
    display: none;
  }

  .banner .infos-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .banner h1 {
    font-size: 60px;
  }
 }

 /* Tablets */
 @media (min-width: 768px) and (max-width: 990px) {
  .banner img {
    display: none;
  }

  .banner .infos-container {
    display: grid;
    grid-template-columns: 1fr;
  }
 }


@keyframes updown {
  0% {
      transform: translateY(-20px);
  }
  50% {
      transform: translateY(20px);
  }
  100% {
      transform: translateY(-20px);
  }
}
