#slider-toggle {
  height: 5rem;
  width: 5rem;
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 7.4rem;
  transform: translateX(-50%);
  background-color: #2E2772;
  border: none;
  border-radius: 5rem;
  outline: none;
  box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
  cursor: pointer;
  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

#slider-toggle:hover {
  transform: translateX(-50%) scale(1.04);
}

#slider-toggle:active {
  transform: translateX(-50%) scale(0.96);
}

body[data-nav="true"] > #slider-toggle {
  background-color: #A93573;
}

#slider-toggle .blink {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

body:not([data-nav="true"]) > #slider-toggle:hover > .open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#slider-toggle > i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  color: rgb(246, 231, 224);
  font-size: 1.75rem;
  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

#slider-toggle > .close {
  opacity: 0;
}

body[data-nav="true"] > #slider-toggle > .close {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body[data-nav="true"] > #slider-toggle > .open {
  opacity: 0;
}

#curved-text {
  position:relative;
  z-index: -1;
  bottom: 39px;
  left: -11px;
  opacity: 0;
  color: #fff;
  font-size:15px;
  transform: rotate(-142deg) translate(-27px, -58px) scale(0.5);
  opacity: 0;
  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

#curved-text > span {
  position: absolute;
  transform-origin: 0 60px;
}

body:not([data-nav="true"]) > #slider-toggle:hover > #curved-text{
  opacity: 1;
  transform:  rotate(-48deg) translate(-20px, -29px);
  text-shadow: #fff 1px 0 10px;
}

/* Smartphones Mobiles */
@media (min-width: 320px) and (max-width: 480px) {
  #slider-toggle {
    height: 4rem;
    width: 4rem;
    bottom: 4rem;
  }

  body:not([data-nav="true"]) > #slider-toggle:hover > #curved-text{
    display: none;
  }

  #slider-toggle {
    display: none;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 990px) {
  body:not([data-nav="true"]) > #slider-toggle:hover > #curved-text{
    display: none;
  }

  #slider-toggle {
    display: none;
  }
}
