.navbar {
  padding: 18px 0;
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}

.navbar .navbar-brand {
  width: 5%;
  float: left;
}

.navbar .collapse {
  margin-left: 1100px;
}

.navbar .navbar-nav .nav-link  {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

.navbar .navbar-toggler:active,
.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

.navbar .navbar-toggler-icon:after,
.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

.navbar .navbar-toggler-icon:after {
  top: 8px;
}

.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}

.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}


.navbar-scrolled {
  background-color: #000000;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icons {
  display: inline-block;
  align-items: center;
  margin-left: 14px;
}

.social-icons a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icons a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icons a:hover::before {
  transform: scale(1);
}

.social-icons a i {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icons a:hover i {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}



@media (max-width: 390px) {
 .navbar .navbar-brand {
  width: 20%;
}

  .navbar .collapse {
    margin-left: 0;
  }
}

@media (max-width: 1366px) {
  .navbar .navbar-brand {
    width: 13%;
  }

  .navbar .collapse {
    margin-left: 600px;
  }
}
