.project {
  padding: 110px 0 150px;
  position: relative;
  background-image: linear-gradient(to top, #aa3673, #a52c7e, #9c248a, #8f2299, #7a25a8, #6429a1, #4e2b99, #372b90, #2d266f, #24204f, #1c1a30, #121212);
}

.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 20px;
}

.projects-container a img {
  border-radius: 20px;
}

.projects-container .proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}

.projects-container .proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.projects-container .proj-imgbx:hover::before {
  height: 100%;
}

.projects-container .proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}

.projects-container .proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}

.projects-container .proj-txtx h4 {
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.projects-container .proj-txtx span {
  color: #fff;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}


  @media (max-width: 390px) {
    .projects-container {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 20px;
    }
  }
