.skill {
  padding: 200px 0;
  position: relative;
  background-color: #121212;
}

.skill h2 {
  font-size: 45px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}

.skill p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.skill-bx {
  background-image: url('../../images/img-noise.png');
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}

.swiper .swiper-slide img {
  width: 100px;
  height: 100%;
  margin: 0 auto 15px auto;
  -webkit-user-select: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev{
  color: #fff;
}

.swiper .swiper-button-next:after,
.swiper .swiper-button-prev:after {
  font-size: 35px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .swiper-wrapper {
    width: 390px;
    height: 390px;
  }

  .swiper .swiper-button-next:after,
  .swiper .swiper-button-prev:after {
    font-size: 20px;
  }
}
