* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  background-image: url('../../images/img-noise.png');
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  color: #fff !important;
  font-family: 'Roboto', sans-serif !important;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}
